@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Russo+One&display=swap');
* {
  margin: 0;
}

.main-content {
  background: url('matrix.jpg') no-repeat center center fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  opacity: 0.8;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Russo One', sans-serif;
  color: white;
}

nav {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  z-index: 900;
  font-weight: bolder;
  height: 5vh;
}

nav a {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  margin: auto;
  height: 80vh;
  /* flex-wrap: wrap; */
}

.translate-btn {
  padding: 1rem 3rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Russo One', sans-serif;
  outline: none;
  cursor: pointer;
  margin: 1rem 0;
}

.input-area {
  font-family: 'Bebas Neue', cursive;
  font-family: 'Russo One', sans-serif;
  color: black;
  width: 25rem;
  height: 25rem;
  resize: none;
  font-size: 20px;
  padding: 4px;
  border-radius: 5px;
}

.output-area {
  background-color: white;
  width: 25rem;
  height: 25rem;
  color: black;
  padding: 4px;
  font-size: 20px;
  border-radius: 5px;
}

@media only screen and (max-width: 1200px) {
  main {
    flex-direction: column;
  }
  .input-area {
    width: 60vw;
    height: 20vh;
  }

  .output-area {
    width: 60vw;
    height: 20vh;
  }
}

@media only screen and (max-width: 540px) {
  * {
    font-size: 10px;
  }
  .input-area {
    font-size: 12px;
  }
}

.about-section {
  padding: 1rem;
}

.about-section h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.about-section p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
